{% extends "base.html" %}
{% comment %} {% block content %}
    {% if user.is_authenticated %}
    <div class="col-md-6 offset-md-3"> 
        <h1>Add Task</h1>
        <br>
        <form action="{% url "add_task" %}" method="POST">
            {% csrf_token %}
            {{form.as_p}}
            <br>
            <button type="submit" class="btn btn-success">Add Task</button>
            <a href="{% url "home" %}" class="btn btn-outline-primary">Go Back</a>
        </form>
    </div>
    {% endif %}
{% endblock content %} {% endcomment %}
{% load crispy_forms_tags %}

{% block content %}
{% if user.is_authenticated %}
<div class="col-md-6 offset-md-3"> 
    <h1>Add Task</h1>
    <br>
    <form action="{% url "add_task" %}" method="POST" class="form">
        {% csrf_token %}
        {{form | crispy}}
        <br>
        <button type="submit" class="btn btn-success">Add Task</button>
        <a href="{% url "home" %}" class="btn btn-outline-primary">Go Back</a>
    </form>
</div>
{% endif %}

{% endblock content %}


