/* static/css/styles.css */

.custom-table {
    --bs-table-bg: #f0ad4e;
    /* Change table background color */
    --bs-table-border-color: #ddd;
    /* Customize border color */
    --bs-table-color: #000000;
    /* Fallback color */
    border-radius: 20px;
    overflow: hidden;
}

.nav-custom {
    background-color: #C4DFAA;
}


/* td.custom-td{
    background: #1d2594 !important;

}
th.custom-th{
    background: #1d2594 !important;

} */