/* static/css/styles.css */

.custom-table {
    --bs-table-bg: #F28B30;
    /* Change table background color */
    --bs-table-border-color: #ddd;
    /* Customize border color */
    --bs-table-color: #F2F2F2;
    /* Fallback color */
    border-radius: 20px;
    overflow: hidden;
}


/* .card {
    background-color: #D9A05B;
} */


/*  
* *Colores
*  #117DBF
*  #118EBF
*  #D9A05B
*  #F28B30
*  #F2F2F2

 */