/* static/css/styles.css */

table.custom-table {
    border-radius: 20px;
    overflow: hidden;
}


/* td.custom-td{
    background: #1d2594 !important;

}
th.custom-th{
    background: #1d2594 !important;

} */